@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #090d12;
    color: #ffffff;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none;
  }

  body {
    letter-spacing: 0.01em;
  }

  .font-display {
    font-family: 'Jaro', 'Segoe UI', sans-serif;
  }
}

button {
  font-family: 'Segoe UI', sans-serif;
}
